<!doctype html>
<html lang="en" ng-app="myApp" ng-controller="ProductController">
<head><title>Index</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>






{{5+5}}


    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Angular/app/app.js"></script>
    <script src="~/Angular/app/Controllers/ProductController.js"></script>
</body>
</html>
