@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Invitation Error";
}

<h1 class="text-danger">Invitation Error!</h1>
@{
    if (String.IsNullOrEmpty(ViewBag.errorMessage))
    {
        <h2 class="text-danger">An error occurred.</h2>
    }
    else
    {
        <h2 class="text-danger">@ViewBag.errorMessage</h2>
        <a href="../Account/Invite" type="button" class="btn btn-primary">Invite me!</a>
    }
}


