<div class="container" ng-controller="productDetailsController" ng-init="getDetailsProduct()">
    <div class="row">
        <div class="col-lg-12">
            <h2>Product Details</h2>
        </div>
    </div><hr />

    <div>
        <dl class="dl-horizontal">
            <dt>
                Product Name:
            </dt>

            <dd>
                {{productName}}
            </dd>

            <dt>
                Product Details:
            </dt>

            <dd>
                {{productDetails}}
            </dd>

            <dt>
                Product Price:
            </dt>

            <dd>
                {{productPrice}}
            </dd>

        </dl>
    </div>
  <div>
        <a href="/Product/Index#/">Back to list</a>
  </div>

</div>