<div class="container" ng-controller="productDetailsController">
    <div class="row">
        <div class="col-lg-12">
            <h2>Product Details</h2>
        </div>
    </div><hr />

    <div>
        <dl class="dl-horizontal" ng-repeat="product in Products">
            <dt>
                Product Name:
            </dt>

            <dd>
                {{product.productName}}
            </dd>

            <dt>
                Product Details:
            </dt>

            <dd>
                {{product.productDetails}}
            </dd>

            <dt>
                Product Price:
            </dt>

            <dd>
                {{product.productPrice}}
            </dd>

        </dl>
    </div>
    <p>

    </p>
</div>